// Variables :
// Main color :
$primary-color: #080A40;
$secondary-color: #0B3080;
$tertiary-color: #F2F2F2;

// Grid color (Box) :
$primary-grid-color: #6863F2;
$secondary-grid-color: #AEB9F2;
$tertiary-grid-color: #1E87F4;


// Font color :
$primary-font-color: #F2F2F2;
$secondary-font-color: #080A40;
$tertiary-font-color: #222222;
